* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: "Yeseva One", cursive;
  color: #030332;
}

form {
  display: flex;
  margin: 0 auto;
  width: 700px;
  justify-content: space-between;
  align-items: center;
}

.input {
  display: block;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  width: 400px;
  background-color: rgb(255, 255, 255, 0.4);
  border: 2px solid rgba(11, 11, 74, 0.7);
  box-shadow: 5px 2px 15px #888585;
}

h1 {
  width: 400px;
  padding: 20px 20px;
  font-size: 60px;
  box-shadow: 5px 2px 15px #888585;
  background-color: rgb(255, 255, 255, 0.5);
  border: 2px solid rgba(3, 3, 50, 0.7);
  color: #030332;
  text-align: center;
}

.h2 {
  width: 270px;
  padding: 20px 20px;
  font-size: 45px;
  box-shadow: 5px 2px 15px #888585;
  background-color: rgb(255, 255, 255, 0.5);
  border: 2px solid rgba(3, 3, 50, 0.7);
  color: #030332;
  text-align: center;
  justify-content: center;
}

.fahrenheit a {
  font-size: 45px;
  padding: 0;
}

h3 {
  font-size: 28px;
  padding: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  padding: 20px;
  font-size: 22px;
  color: #030332;
  line-height: 1.5em;
}

a:hover {
  color: white;
}

p {
  padding: 10px 0;
  font-size: 18px;
  color: #030332;
}

p:hover {
  color: white;
}

.full-screen {
  background-image: url(../img/pexels-johannes-plenio-1126387.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1000px;
  height: 550px;
  display: block;
  margin: 20px auto;
  opacity: 0.9;
  box-shadow: 5px 2px 15px #888585;
}

.city {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 1000px;
}

.current-city {
  width: 700px;
  max-height: 200px;
  display: flex;
  justify-content: space-between;
  margin: 25px auto;
  align-items: center;
}

.date {
  display: block;
  margin: 25px auto;
  padding: 10px;
  font-size: 28px;
  box-shadow: 5px 2px 15px #888585;
  border: 2px solid rgba(11, 11, 74, 0.7);
  background-color: rgb(255, 255, 255, 0.4);
  width: 380px;
  height: 60px;
  text-align: center;
}

.button {
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
  width: 150px;
  background-color: rgb(255, 255, 255, 0.4);
  border: 2px solid rgba(11, 11, 74, 0.7);
  box-shadow: 5px 2px 15px #888585;
  text-align: center;
}

.button:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.author{
  display: block;
  margin: -50px 0 10px 800px;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  color: white;
  text-shadow: 0.5px 0.5px rgb(31, 31, 112);
  font-size: 16px;
}

.details{
  width: 500px;
  display: flex;
  margin: 25px auto;
  justify-content: space-between;
  align-items: center;
}

.icon{
  width: 120px;
  height: 120px;
  background-color: rgb(255, 255, 255, 0.4);
  border: 2px solid rgba(11, 11, 74, 0.7);
  box-shadow: 5px 2px 15px #888585;
  align-items: center;
  justify-content: center;
}
.details-item{
  width: 300px;
  background-color: rgb(255, 255, 255, 0.4);
  border: 2px solid rgba(11, 11, 74, 0.7);
  box-shadow: 5px 2px 15px #888585;
  text-align: left;
  padding: 0 10px;
  font-weight: bold;
  
}